<template>
    <lightning-card>
        <div class="slds-m-around_medium">
            <h1 class="slds-text-heading_small">Search Banking Accounts: </h1>
        </div>
        <div>
            <lightning-layout multiple-rows>
                <lightning-layout-item size="6" padding="horizontal-large">
                    <lightning-input name="Enter Name" label="Search Banking Accounts" type="search"
                        value={strSearchString} onchange={handleChange} min-length={intMinSearchLength}
                        variant="label-hidden">
                    </lightning-input>
                </lightning-layout-item>
                <lightning-layout-item size="6" padding="horizontal-large">
                    <lightning-button variant="brand" label="Brand" title="Primary action" disabled={boolDisbaleSearch}
                        onclick={handleAccountSearch}></lightning-button>
                </lightning-layout-item>
            </lightning-layout>


            <template if:true={boolShowResult}>
                <div class="slds-p-around_medium">
                    <lightning-datatable data={lstData} columns={lstColumns} key-field="Id">
                    </lightning-datatable>
                </div>
            </template>
        
            
            <template if:false={boolShowResult}>
                <div class="slds-illustration slds-illustration_large" aria-hidden="true">
                    <img src="/img/chatter/Desert.svg" class="slds-illustration__svg" alt="" />
                    <div class="slds-text-color_weak">
                        <h3 class="slds-text-heading_medium">{strErrorMessage}</h3>
                    </div>
                </div>
            </template>       
           
        </div>
    </lightning-card>
</template>